{% extends 'base.html' %}

{% block header %}
<h1>Words</h1>
<h2>{{ model_id }}</h2>
{% endblock %}

{% block content %}
<div class="row">
  <a href="{{ url_for('manage', id=model_id) }}">Back to model</a>
</div>
<div class="row">
  <form method="post">
    <div class="mb-3">
      <label for="words" class="form-label">Words</label>
      <textarea name="words" id="words" rows="5" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
      <input type="submit" value="Lookup">
    </div>
  </form>

  <form>
    <div class="mb-3">
      <label for="found" class="form-label">Found</label>
      <textarea name="found" id="found" rows="5" class="form-control">{{ found }}</textarea>
    </div>
    <div class="mb-3">
      <label for="guessed" class="form-label">Guessed</label>
      <textarea name="guessed" id="guessed" rows="5" class="form-control">{{ guessed }}</textarea>
    </div>
  </form>
</div>
{% endblock %}
